# Dependency directories
node_modules/
**/node_modules/

# Python Virtual Environments
venv/
.venv/
env/
**/venv/
**/env/

# ml model
*.joblib
*.pkl
*.h5
*.pth
*.onnx

# Python cache (Crucial: yours didn't catch the subfolders earlier)
**/__pycache__/
*.pyc

# Local Environment Secrets
.env
.env.local
**/.env
**/.env.local

# Build and Distribution files
build/
dist/
**/build/
**/dist/

# OS specific files
.DS_Store